.swiper-wrapper {
  padding-top: 48px;
  padding-bottom: 1%;
}

swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  background-color: #595959;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-scrollbar-drag {
  background-color: #ffffff;
  cursor: pointer;
}
